<div class='panel panel-primary'>
  <!-- <div class='panel-heading'>
      {{pageTitle}}
  </div> -->

  <div>
      <!-- Filter by the Title   -->
      <div class='row'>
          <div class='col-md-2'>Filter by:</div>
          <div class='col-md-4'>
              <input type='text' #filterElement
                     [(ngModel)]='listFilter'/>
          </div>
      </div>
      <div class='row' [hidden]='!listFilter'>
          <div class='col-md-10'>
              <h3>Filtered by: {{listFilter}} </h3>
          </div>
      </div>

      <div class='table-responsive'>
          <table class='table'
                  *ngIf='games && games.length'>
              <thead>
                  <tr>
                      <th>
                          <button class='btn btn-primary'
                              (click)='toggleImage()'>
                              {{showImage ? 'Hide' : 'Show'}} Image
                          </button>
                      </th>
                      <th>Game</th>
                      <th>Code</th>
                      <th>Available</th>
                      <th>Price</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let game of filteredGames'>
                      <td>
                          <img *ngIf='showImage && game.imageUrl'
                               [src]='game.imageUrl'
                               [title]='game.name'
                               [style.width.px]='imageWidth'
                               [style.margin.px]='imageMargin'>
                      </td>
                      <td>{{ game.name }}</td>
                      <td>{{ game.code }}</td>
                      <td>{{ game.release }}</td>
                      <td>{{ game.price | currency:'USD':'symbol':'1.2-2'}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
